.App {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: lightgrey;
  padding-bottom: 25px;
}

.nav {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  padding: 20px;
}

.signUp {
  border: none;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px;
}

.logIn {
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  margin-right: 30px;
}

.search {
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px;
}

.info {
}

.bioReview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio {
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
}

.reviews {
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
}

.teacherName {
  font-size: 40px;
  font-weight: bold;
}


.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
